.logo_text{
    font-weight: 700;
font-size: 28px;
line-height: 36px;
letter-spacing: 0.28em;

color: #000000;

}
.collapse{
    justify-content: end !important;
}
.nav-text{
    font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.16em;
padding-right: 41px !important;
color: #000000 !important;

}
.nav-btn{
    font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.12em;
padding: 9px 11px 10px 30px !important;
width: 124px;
height: 37px;
background: none;
color: #000000 !important;
border: 2px solid #4A4A4A;
border-radius: 300px;
}